<html>
    <title>Administrador: Producto</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ url_for('static', filename='css/style2.css') }}>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <body>

         <div class="top-container">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 70%;">
                        <h1 style="font-size: 18;">Sistema de Gestión</h1>
                        <p>Inventario de Accesorios</p>
                    </td>

                    <td>
                        <input type="text" name="search" placeholder="Buscar..." class="search">
                    </td>
                    <td style="width: 5%;">
                        <div>
                            <input type="checkbox" id="show">
                            <label for="show" class="show-btn"><img src={{ url_for('static', filename='img/profile.png') }} alt="profile" width="43"></label>
                            <div class="container">
                                <label for="show" class="close-btn fas fa-times" title="close"></label>
                                <div class="text">Usuario</div>
                                <form action="#">
                                    <div class="data">
                                        <label>Nombre:</label>
                                        <label>{{session['name']}}</label>
                                    </div>
                                    <div class="data">
                                        <label>Usuario:</label>
                                        <label>{{session['userName']}}</label>
                                    </div>
                                    <div class="btn">
                                        <div class="inner"></div>
                                        <a href="{{ url_for('logout') }}">Cerrar Sesion</a>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <br><br><br><br><br>

         <div class="center" style="width: 70%; padding: 60px 120px;">
            <form method="post" action="{{ url_for('editarProductoAdministrador')}}">
                <table>
                    <div style="font-size: 35px; font-weight: 600; text-align: center; margin-bottom: -30px">Modificar Accesorio</div>
                    <tr style="margin-top: -30px"><td style="text-align: center">
                        <div class="gallery">
                            <a target="_blank" href={{ url_for('static', filename='img/aretes.jpg') }}>
                                 <img src={{ url_for('static', filename='img/imgProductos/'+inventario[4]+'') }} alt="aretes">
                             </a>
                        </div>
                    </td><td>
                        <div class="data1">
                            <label>Nombre:</label>
                            <input type="text" name="nombre" id="nombre" value="{{ inventario[2] }}" required>
                            <input type="hidden" name="id" value="{{ inventario[0] }}">
                        </div>
                        <div class="data1">
                            <label>Referencia:</label>
                            <input type="text" name="referencia" id="referencia" value="{{ inventario[1] }}" required>
                        </div>
                        <div class="data1">
                            <label>Cantidades en existencia:</label>
                            <input type="number" name="cantidad" id="cantidad" value="{{ inventario[3] }}" required>
                        </div>
                    </td></tr>

                    <tr>
                        <td style="text-align: center; width: 50%">
                            <input type="submit" value="MODIFICAR ACCESORIO" class="button">
                        </td>
                        <td style="text-align: center">
                            <a href="{{ url_for('eliminarProducto', id=inventario[0], ref=inventario[1]) }}" class="button">ELIMINAR ACCESORIO</a>
                        </td>
                    </tr>
                </table>
            </form>
             <br>

        </div>

        <ul>
            <li><a href="{{ url_for('inicio_administrador') }}">INICIO</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">INVENTARIO</a>
                <div class="dropdown-content">
                  <a href="{{ url_for('agregar_accesorio') }}">Agregar accesorio</a>
                  <a href="{{ url_for('inventarioAdministrador') }}">Ver inventario</a>
                </div>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">USUARIOS</a>
              <div class="dropdown-content">
                <a href="{{ url_for('registrar_usuario') }}">Registrar usuario</a>
                <a href="{{ url_for('usuariosAdministador') }}">Ver usuarios registrados</a>
              </div>
            </li>
        </ul>

    </body>

</html>