<html>
    <title>Handmade Jewellery</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>



    <body>
        <div class="top-container"></div>
        <div class="barra">Sistema de Gestión: Inventario de Accesorios</div>

        <br><br><br><br><br><br><br>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        {{message}}
                    </div>
                {% endfor  %}
            {% endif %}
        {% endwith %}

        <table style="margin: auto" width="80%" heigth="100%">
            <tr><td style="width: 70%;">
                <img src={{ url_for('static', filename='img/store.jpg') }} alt="tienda" width="600" height="400">
            </td><td>
                <div class="container1">
                    <div class="text">Validar Usuario</div>
                    <form name="validarusuario" method="post" action="{{ url_for('validarusuario')}}">
                        <div class="data1">
                            <label>Usuario</label>
                            <input type="text" name="usuario_registrado" id="usuario_registrado" placeholder="Ingrese su nombre de usuario" required>
                        </div>
                        <div class="data1">
                            <label>Correo electrónico:</label>
                            <input type="email" name="correo" id="correo" placeholder="ejemplo@ejemplo.com" required>
                        </div>

                        <div class="btn1">
                            <div class="inner"></div>
                            <button type="submit">Validar Usuario</button>
                        </div>

                    </form>
                </div>
            </td></tr>
        </table>
    </body>
</html>